/* Put your style information here! */
body {
  margin: 0;
  padding: 0;
  font-family: Century Gothic, AppleGothic, sanr-serif;
}
.main {
  display: grid;
  grid-gap: 80px;
  grid-template-columns: 1fr 300px 300px 300px 300px 1fr;
  grid-template-rows: 180px 250px 350px 10px auto 10px auto 10px auto 10px auto 10px auto 30px;
}
.navbar{
  grid-row: 1;
  grid-column: 1 / 7;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
}
.navbar-nav {
  margin-top: 50px;
}
.navbar-brand {
  margin-top: 10px;
  margin-left: 100px;
}
.nav-item {
  font-size: 20px;
  margin-right: 100px;
}
h1 {
  grid-column: 2 / 4;
  text-align: left;
  font-size: 40px;
  margin-left: 120px;
}
h2 {
  grid-column: 2 / 4;
  text-align: left;
  font-size: 28px;
  margin-left: 120px;
}
p {
  margin-left: 120px;
  margin-right: 120px;
  font-size: 20px;
  line-height: 150%;
}
.ans {
  margin-left: 120px;
  margin-right: 120px;
  font-size: 20px;
  line-height: 150%;
}
figcaption {
  border: 1px dotted gray;
  text-align: center;
  margin-right: 135px;
}
.topic {
  grid-column: 4 / 5;
  grid-row: 2;
  margin-left: 0px;
  font-size: 70px;
}
.intro {
  margin-left: 260px;
  margin-right: 100px;
  grid-column: 3 / 6;
  grid-row: 3;
}
.sketch {
  border: 1px dotted;
  grid-row: 4;
}
.original {
  grid-column: 2 / 6;
  grid-row: 5;
}
.sketchfig {
  display: inline-block;
  margin: 0px 0px 10px 0px;
  border: 1px dotted;
}
.analysis {
  grid-column: 2 / 4;
  grid-row: 5;
}
.lowfi {
  border: 1px dotted;
  grid-row: 6;
}
.div1 {
  grid-column: 2 / 6;
  grid-row: 7;
}
.highfi {
  border: 1px dotted;
  grid-row: 8;
}
.div2 {
  grid-column: 2 / 6;
  grid-row: 9;
}
.usertesting {
  border: 1px dotted;
  grid-row: 10;
}
.div3 {
  grid-column: 2 / 6;
  grid-row: 11;
}
.result {
  border: 1px dotted;
  grid-row: 12;
}
.div4 {
  grid-column: 2 / 6;
  grid-row: 13;
}
.lowfifig {
  display: inline-block;
  margin: 10px 20px 10px 20px;
}

.videoresponse {
  display: inline-block;
  margin: 10px 0px 10px 0px;
  border: 1px dotted;
}
#logo {
  grid-column: 2 / 5;
  grid-row: 2;
  width: 50%;
  margin: 200px 60px 100px 140px;
}
footer {
  grid-column: 2 / 6;
  grid-row: 14;
  text-align: right;
  margin-right: 400px;
}
