
body {
  margin: 0;
  padding: 0;
  font-family: Century Gothic, AppleGothic, sanr-serif;
}
.main {
  display: grid;
  grid-gap: 80px;
  grid-template-columns: 1fr 300px 300px 300px 300px 1fr;
  grid-template-rows: 270px 120px 10px auto 10px auto 10px auto auto 10px auto 30px;
}
h1 {
  grid-column: 2 / 4;
  text-align: left;
  font-size: 40px;
  margin-left: 120px;
}
p {
  margin-left: 120px;
  margin-right: 120px;
  font-size: 20px;
  line-height: 150%;
}
figcaption {
  border: 1px dotted gray;
  text-align: center;
}

.ans {
  margin-left: 120px;
  margin-right: 120px;
  font-size: 20px;
  line-height: 150%;
}

.navbar{
  margin-bottom: 50px;
}
.navbar-brand {
  margin-top: 10px;
  margin-left: 10px;
}
.nav-item {
  font-size: 20px;
  margin-right: 50px;
}
.brand {
  font-size: 40px;
  margin-left: 30px;
  margin-right: 0px;
}
.topic {
  grid-column: 4 / 6;
  grid-row: 1;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 70px;
}

.intro {
  margin-left: 260px;
  margin-right: 100px;
  grid-column: 3 / 6;
  grid-row: 2;
}
.interface {
  border: 1px dotted;
  grid-row: 3;
}
.div1 {
  grid-column: 2 / 6;
  grid-row: 4;
}
.interview {
  border: 1px dotted;
  grid-row: 5;
}
.div2 {
  grid-column: 2 / 6;
  grid-row: 6;
}
.persona {
  border: 1px dotted;
  grid-row: 7;
}
.div3 {
  grid-column: 2 / 6;
  grid-row: 8;
}

.div4 {
  grid-column: 2 / 6;
  grid-row: 9;
}
.storyboard {
  border: 1px dotted;
  grid-row: 10;
}
.div5 {
  grid-column: 2 / 6;
  grid-row: 11;
}
.storyrow {
  margin-left: 30px;
  margin-bottom: 30px;
}
.storyfig {
  height: 550px;
  display: inline-block;
  border:1px solid #021a40;
  margin: 10px 0px 10px 0px;
}
.storyfigcaption {
  width: 420px;
  text-align: center;
  margin: 10px;
}
#sketch {
  display: block;
  width: 70%;
  margin: 30px auto 0px auto;
}
#persona1 {
  width: 40%;
  float: left;
  margin: 50px auto 0px 150px;
}
#persona2 {
  width: 40%;
  float: right;
  margin: 10px 150px auto auto;
}
#logo {
  grid-column: 2 / 5;
  grid-row: 1;
  width: 35%;
  margin: 100px 90px 100px 250px;
}
#sketchcaption {
  margin: auto 220px 50px 250px;
}
#personabackground1 {
  font-size: 18px;
  font-style: italic;
  opacity: 0.7;
  margin: 70px 100px auto 800px;
}
#personaanalysis1 {
  margin: 20px 100px 0px 800px;
}
#personabackground2 {
  margin: 10px auto auto 120px;
  font-size: 18px;
  font-style: italic;
  opacity: 0.7;
}
#personaanalysis2 {
  margin: 20px auto auto 120px;
}
footer {
  grid-column: 2 / 6;
  grid-row: 12;
  text-align: right;
  margin-right: 400px;
}
@media(max-width: 900px)
{
  .brand{
    font-size:25px;
    margin-left: 10px;
  }
  .navbar-brand {
    margin-left: 0px;
    padding-left: 0px;
  }
  .nav-item {
    font-size:15px;
  }
  .ans {
    margin-left: 5vw;
    margin-right: 10vw;
    font-size: 15px;
  }
  .main {
    grid-gap: 50px;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto 10px auto 10px auto 10px auto auto 10px auto auto;
  }

  #logo {
    grid-column: 1;
    grid-row: 1;
    width: 40vw;
    height: 40vw;
    margin: 0px 30vw 0px 30vw;
  }
  p {
    margin-left: 10vw;
    margin-right: 15vw;
    font-size: 15px;
  }
  h1 {
    grid-column: 1;
    text-align: left;
    font-size: 25px;
    margin-left: 10vw;
  }
  .topic {
    grid-column: 1;
    grid-row: 2;
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 40px;
  }

  .intro {
    margin-left: 0vw;
    margin-right: 0vw;
    grid-column: 1;
    grid-row: 3;
  }
  .interface {
    font-size: 30px;
    border: 1px dotted;
    grid-row: 4;
  }
  .div1 {
    grid-column: 1;
    grid-row: 5;
  }
  .interview {
    font-size: 30px;
    border: 1px dotted;
    grid-row: 6;
  }
  .div2 {
    grid-column: 1;
    grid-row: 7;
  }
  .persona {
    font-size: 30px;
    border: 1px dotted;
    grid-row: 8;
  }
  .div3 {
    grid-column: 1;
    grid-row: 9;
  }

  .div4 {
    grid-column: 1;
    grid-row: 10;
  }
  .storyboard {
    font-size: 30px;
    border: 1px dotted;
    grid-row: 11;
  }
  .div5 {
    grid-column: 1;
    grid-row: 12;
  }
  .storyrow {
    margin: 0px 20vw 0px 20vw;
  }
  .storyfig {
    height: 70vw;
    width: 70vw;
    margin: auto;
  }
  .storyfigcaption {
    width: 60vw;
    font-size: 10px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #sketch {
    width: 80vw;
    height: 45vw;
    margin: 30px 10vw 0px 10vw;
  }
  #persona1 {
    width: 70vw;
    height: 80vw;
    float: center;
    margin: 0px 20vw 0px 20vw;
  }
  #persona2 {
    width: 70vw;
    height: 80vw;
    float: center;
    margin: 0px 20vw auto 20vw;
  }
  #sketchcaption {
    margin: auto 20vw 50px 20vw;
  }
  #personabackground1 {
    font-size: 12px;
    font-style: italic;
    opacity: 0.7;
    margin: 70px 10vw auto 10vw;
  }
  #personaanalysis1 {
    margin: 20px 10vw 0px 10vw;
  }
  #personabackground2 {
    margin: 10px 10vw auto 10vw;
    font-size: 12px;
    font-style: italic;
    opacity: 0.7;
  }
  #personaanalysis2 {
    margin: 20px 10vw auto 10vw;
  }
  img {
    width: 65vw;
    height: 65vw;
  }
  footer {
    grid-column: 1;
    grid-row: 13;
    text-align: center;
    font-size: 10px;
    margin: 0px;
  }
}
